.header{
    background-color: #edf6f9;
    color: #1b263b;
    height: 120px;
    text-align: center;
    padding-top: 30px ;
    font-size: 55px;
    font-weight: 900;
}
@media (max-width : 600px) {
.header{
    height: 60px;
    padding-bottom: 40px;
}
}
