.item{
    font-size: 40px;
    font-weight: 700;
    background-color:  #edf6f9;
}
.line{
    color: #1b263b;
}
.container{
    background-color:  #edf6f9;  
    
}
.del{
    float: right;
    font-size: 40px;
    border: none;
    background-color: #1b263b;
    border-radius: 10px;
    color: #edf6f9;
    padding: 5px 20px;
    transition: all ease-in-out 0.1s;
}
.del:hover{
    cursor: pointer;
    background-color: #1b263b7c;
}
.del:active{
    transform: scale(0.9);
}
.completed{
    text-decoration: line-through;
}